# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\aaa_proyectos\fundamentos_automatizacion_curso\seleniumFirstTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
